@media (min-width: 1081px) {
  * {
    background-color: rgb(147, 147, 186);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .todo-header-title {
    font-size: 64px;
    text-align: center;
    color: white;
  }

  .new-todo-container {
    text-align: center;
  }

  .new-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 35px 0 0;
    flex-wrap: wrap;
  }

  .todo-button {
    margin: 20px 5px 0 0;
    width: 30px;
    height: 22px;
    border: none;
    border-radius: 5px;
    background-color: rgb(122, 110, 252);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.371);
    color: white;
    transition: 100ms;
  }

  .todo-button:hover {
    background-color: rgb(141, 131, 255);
  }

  .input-todo-div {
    width: 200px;
    margin: 20px 10px 0 0;
    border: none;
    background-color: white;
    outline: none;
    border-radius: 5px;
    text-align: center;
    height: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269);
    transition: 100ms;
  }

  .input-todo-div:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);
  }

  .div-todos {
    margin: 30px 0 0 0;
  }

  .done-todos-div {
    margin: 20px 90px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .input-add {
    width: 300px;
    height: 30px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.361);
    transition: 100ms;
  }

  .input-add:hover {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.504);
  }

  .button-add {
    width: 50px;
    height: 30px;
    background-color: rgb(109, 96, 255);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.361);
    transition: 100ms;
  }

  .button-add:hover {
    background-color: rgb(132, 120, 255);
  }

  .button-add:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.722);
    margin: 0 0 0 2px;
  }

  .done-todos-title {
    font-size: 24px;
    color: rgb(64, 60, 97);
  }

  .todo-done-task {
    margin: 5px 0 0 0;
    color: rgb(64, 60, 97);
  }

  .new-string-subitem {
    display: flex;
    width: 100%;
    margin: 10px 70px 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .checkbox-subitem {
    width: 20px;
    height: 20px;
  }

  .input-todo-div-subitem {
    width: 200px;
    margin: 0 0 0 0;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 5px;
    text-align: center;
    height: 17px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269);
    transition: 100ms;
  }

  .input-todo-div-subitem:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);
  }

  .delete-subitem {
    margin: 0 0 0 5px;
    width: 30px;
    height: 17px;
    border: none;
    border-radius: 5px;
    background-color: rgb(122, 110, 252);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.371);
    color: white;
    transition: 100ms;
  }

  .delete-subitem:hover {
    background-color: rgb(141, 131, 255);
  }

  .delete-subitem-button-style {
    margin: 0 0 0 5px;
    width: 30px;
    height: 22px;
    border: none;
    border-radius: 5px;
    background-color: rgb(122, 110, 252);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.371);
    color: white;
    transition: 100ms;
  }

  .delete-subitem-button-style:hover {
    background-color: rgb(141, 131, 255);
  }

  .delete-done-tasks-button {
    font-size: 18px;
    border: none;
    background-color: relative;
    cursor: pointer;
    color: rgb(64, 60, 97);
    margin: -20px 5px 0 0;
    transition: 100ms;
  }

  .delete-done-tasks-button:hover {
    color: rgb(85, 81, 121);
  }
}

@media (max-width: 1080px) {
  * {
    background-color: rgb(147, 147, 186);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .todo-header-title {
    font-size: 128px;
    text-align: center;
    color: white;
  }

  .new-todo-container {
    text-align: center;
  }

  .new-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
  }

  .todo-button {
    font-size: 64px;
    margin: 20px 5px 0 0;
    width: 120px;
    height: 100px;
    border: none;
    border-radius: 30px;
    background-color: rgb(122, 110, 252);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.371);
    color: white;
    transition: 100ms;
  }

  .todo-button:hover {
    background-color: rgb(141, 131, 255);
  }

  .input-todo-div {
    font-size: 36px;
    width: 500px;
    margin: 20px 10px 0 0;
    border: none;
    background-color: white;
    outline: none;
    border-radius: 30px;
    text-align: center;
    height: 100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269);
    transition: 100ms;
  }

  .input-todo-div:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);
  }

  .div-todos {
    margin: 30px 0 0 0;
  }

  .done-todos-div {
    margin: 20px 90px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .input-add {
    font-size: 33px;
    width: 500px;
    height: 75px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.361);
    transition: 100ms;
  }

  .input-add:hover {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.504);
  }

  .button-add {
    font-size: 30px;
    width: 100px;
    height: 75px;
    background-color: rgb(109, 96, 255);
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.361);
    transition: 100ms;
  }

  .button-add:hover {
    background-color: rgb(132, 120, 255);
  }

  .button-add:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.722);
    margin: 0 0 0 2px;
  }

  .done-todos-title {
    font-size: 64px;
    color: rgb(64, 60, 97);
  }

  .todo-done-task {
    font-size: 50px;
    margin: 5px 0 0 0;
    color: rgb(64, 60, 97);
  }

  .new-string-subitem {
    display: flex;
    width: 100%;
    margin: 10px 70px 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .checkbox-subitem {
    margin: 50px 10px 0 0;
    width: 75px;
    height: 75px;
  }

  .input-todo-div-subitem {
    font-size: 33px;
    margin: 50px 0 0 0;
    width: 500px;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
    border-radius: 30px;
    text-align: center;
    height: 75px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269);
    transition: 100ms;
  }

  .input-todo-div-subitem:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);
  }

  .delete-subitem {
    margin: 0 0 0 5px;
    width: 30px;
    height: 17px;
    border: none;
    border-radius: 30px;
    background-color: rgb(122, 110, 252);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.371);
    color: white;
    transition: 100ms;
  }

  .delete-subitem:hover {
    background-color: rgb(141, 131, 255);
  }

  .delete-subitem-button-style {
    font-size: 33px;
    margin: 50px 0 0 5px;
    width: 100px;
    height: 75px;
    border: none;
    border-radius: 30px;
    background-color: rgb(122, 110, 252);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.371);
    color: white;
    transition: 100ms;
  }

  .delete-subitem-button-style:hover {
    background-color: rgb(141, 131, 255);
  }

  .delete-done-tasks-button {
    font-size: 50px;
    border: none;
    background-color: relative;
    cursor: pointer;
    color: rgb(64, 60, 97);
    margin: -20px 5px 0 0;
    transition: 100ms;
  }

  .delete-done-tasks-button:hover {
    color: rgb(85, 81, 121);
  }
}
